/* COMMON */
.mobile {
  display: none !important;
}

.pc {
  display: block !important;
}

br.only-m {
  content: '';
}

video {
  width: 100%;
}

h3 {
  margin-bottom: 85px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.btn {
  position: relative;
  width: 210px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 700;
  line-height: 70px;
  color: #000;
  cursor: url("../img/cursor-hand.png"), auto;
}

.btn span {
  position: relative;
  z-index: 3;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/button_stroke.svg") no-repeat center;
  z-index: 2;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/button_fill.svg") no-repeat center/cover;
  opacity: 0;
  z-index: 1;
  transition: .3s;
}

.btn:hover::after {
  opacity: 1;
}

.floating {
  position: absolute;
  cursor: url("../img/cursor-pointer.png"), auto;
}

#wrapper {
  min-width: 1024px;
  overflow: hidden;
}

/* INNER */
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 9;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: height .3s;
}

#header.active {
  height: 90px;
  border-bottom-color: #000;
  background-color: #F0EDE6;
}

#header .inner {
  height: 100%;
}

#header a {
  display: block;
  cursor: url("../img/cursor-pointer.png"), auto;
}

#header h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#header h1 a {
  width: 112px;
}

#gnb {
  position: absolute;
  right: 220px;
  top: 50%;
  transform: translateY(-50%);
}

#gnb > ul > li {
  position: relative;
  display: inline-block;
}

#gnb > ul > li:hover::before {
  opacity: 1;
  transform: translateY(0);
} 

#gnb > ul > li::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 6px;
  height: 6px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-50px);
  transition: .3s;
}

#gnb > ul > li > a {
  padding: 10px 20px;
}

#gnb > ul > li:hover .sub-menu {
  display: block;
}

#gnb > ul > li .sub-menu {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  background-color: #000;
  display: none;
}

#gnb > ul > li .sub-menu li a {
  padding: 10px;
  font-size: 15px;
  color: #fff;
}

#gnb > ul > li .sub-menu li a span {
  position: relative;
}

#gnb > ul > li .sub-menu li a span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  opacity: 0;
  transition: .3s;
}

#gnb > ul > li .sub-menu li a span:hover::after {
  opacity: 1;
}

#header .top-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#header .top-menu li {
  position: relative;
  display: inline-block;
}

#header .top-menu li:first-child::before,
#header .top-menu li:last-child::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

#header .top-menu li:first-child::before {
  width: 10px;
  height: 6px;
  left: 17%;
  top: 30%;
  background-image: url("../img/search_eye.svg");
  transition: opacity .5s;
}

#header .top-menu li:first-child:hover::before {
  opacity: 1;
}

#header .top-menu li:last-child::before {
  width: 0;
  height: 10px;
  left: 0;
  bottom: 0;
  background-image: url("../img/underline.svg");
  transition: .3s;
}

#header .top-menu li:last-child:hover::before {
  width: 100%;
  opacity: 1;
}

#header .top-menu li:first-child a {
  position: relative;
}

#header .top-menu li:last-child a {
  padding: 10px;
}

#header .top-menu li:last-child a span {
  display: inline-block;
  padding-right: 5px;
}

/* MAIN */
#main {
  margin-top: 100px;
}

/* VISUAL */
.main-visual {
  text-align: center;
}

.main-visual .inner {
  padding-top: 80px;
}

.main-visual .title {
  font-size: 85px;
  position: relative;
  bottom: -40px;
}

.main-visual .image {
  width: 730px;
  margin: 0 auto;
}

.main-visual .description {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
}

.main-visual .floating.floating1 {
  width: 120px;
  left: 20%;
  top: 0;
}

.main-visual .floating.floating1:hover {
  transform: rotate(45deg);
}

.main-visual .floating.floating2 {
  width: 106px;
  right: 3%;
  top: 25%;
}

.main-visual .floating.floating2:hover {
  transform: rotate(20deg);
}

.main-visual .floating.floating3 {
  width: 103px;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

.main-visual .floating.floating3:hover {
  transform: translateY(-50%) rotate(90deg);
}

/* BRAND */
.main-brand {
  text-align: center;
  cursor: url("../img/cursor-pointer.png"), auto;
}

.main-brand .inner {
  padding: 170px 0 100px;
}

.main-brand .inner > div {
  position: relative;
}

.main-brand .floating.floating4 {
  width: 138px;
  right: 7%;
  top: 2%;
}

.main-brand h3 {
  margin-bottom: 85px;
}

.main-brand .image,
.main-brand .content-group {
  display: inline-block;
  vertical-align: middle;
}

.main-brand .content-group .title {
  margin: 0 auto;
}

.main-brand .content-group .description {
  margin: 30px 0 53px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8em;
  color: #000;
}

.main-brand .video__area {
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 56.25%;
}
.main-brand .video__area video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: url("../img/cursor-see.png"), auto;
}

.main-brand .pattern {
  position: absolute;
}
.main-brand .pattern.pattern1 {
  width: 45px;
  left: 15%;
  top: 50%;
}
.main-brand .pattern.pattern2 {
  width: 65px;
  right: 30%;
  top: 45%;
}
.main-brand .pattern.pattern3 {
  width: 80px;
  right: 15%;
  top: 50%;
}

.main-brand .pattern.pattern4 {
  width: 210px;
  right: 27%;
  top: 48%;
}

.main-brand .pet-so-chic .image {
  width: 48%;
}

.main-brand .pet-so-chic .content-group {
  width: 50%;
}
.main-brand .pet-so-chic .content-group .title {
  width: 210px;
}

.main-brand .pet-so-chic .content-group .description {
  margin: 30px 0 36px;
}
.main-brand .pet-so-chic .content-group .btn {}
.main-brand .pet-so-chic .video__area {
  margin: 65px auto 155px;
}

.main-brand .pet-so-chic .video__area::before,
.main-brand .pet-so-chic .video__area::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-brand .pet-so-chic .video__area::before {
  right: -3%;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 50px;
  background-image: url("../img/pattern-grass-03.jpg");
}

.main-brand .pet-so-chic .video__area::after {
  right: 35%;
  bottom: -15%;
  width: 83px;
  height: 40px;
  background-image: url("../img/pattern-grass-04.jpg");
}

.main-brand .maxbone::before {
  content: '';
  position: absolute;
  left: -150px;
  top: 45%;
  width: 330px;
  height: 370px;
  background: url("../img/layer-toy.png") no-repeat center/cover;
}

.main-brand .maxbone .content-group {
  width: 48%;
}
.main-brand .maxbone .content-group .title {
  width: 360px;
}

.main-brand .maxbone .image {
  width: 50%;
}

.main-brand .maxbone .video__area {
  margin: 120px auto 207px;
}

.main-brand .maxbone .pattern {
  width: 48px;
  top: 73%;
}

.main-brand .maxbone .pattern.pattern1 {
  left: 20%;
}

.main-brand .maxbone .pattern.pattern2 {
  left: 15%;
}

.main-brand .maxbone .pattern.pattern3 {
  left: 10%;
}

.main-brand .milk-and-pepper::before,
.main-brand .milk-and-pepper::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-brand .milk-and-pepper::before {
  background-image: url("../img/layer-hand.png");
  width: 347px;
  height: 297px;
  right: -12%;
  top: -35%;
}

.main-brand .milk-and-pepper::after {
  width: 117px;
  height: 132px;
  right: 13%;
  top: 0;
  background-image: url("../img/layer-heart.png");
}

.main-brand .milk-and-pepper .image {
  width: 48%;
}

.main-brand .milk-and-pepper .content-group {
  width: 50%;
}
.main-brand .milk-and-pepper .content-group .title {
  width: 320px;
}

/* NEW */
.main-new {}

.main-new .inner {}

.main-new h3 {}

.main-new .swiper {}

.main-new .swiper .swiper-slide {
  margin-bottom: 90px;
  cursor: url("../img/cursor-hand.png"), auto;
}

.main-new .swiper-slide .image {
  position: relative;
}
.main-new .swiper-slide .image img {
  transition: opacity .5s;
}

.main-new .swiper-slide .image:hover img.front {
  opacity: 0;
}

.main-new .swiper-slide .image:hover img.back {
  opacity: 1;
}
.main-new .swiper-slide .image img.front {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}
.main-new .swiper-slide .image img.back {
  opacity: 0;
}
.main-new .swiper-slide .text-group {
  margin-top: 25px;
  color: #000;
}
.main-new .swiper-slide .text-group .title {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
}
.main-new .swiper-slide .text-group .description {
  font-size: 14px;
  font-weight: 500;
}

.main-new .swiper .swiper-pagination {
  left: 15px;
  padding-top: 30px;
  font-size: 14px;
  text-align: left;
}

.main-new .swiper .swiper-prev,
.main-new .swiper .swiper-next {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.main-new .swiper .swiper-prev span,
.main-new .swiper .swiper-next span {
  font-size: 40px;
}

.main-new .swiper .swiper-prev {
  left: 45%;
}

.main-new .swiper .swiper-next {
  right: 45%;
}